<div class="row" ng-show="todoTasks.length > 0">
  <!-- In Progress -->  
  <div class="col-md-12">
    <h2>Your Task List</h2>
    <accordion close-others="false">
      <accordion-group ng-repeat="task in todoTasks" id="{{task.id}}">
        <accordion-heading>
          <div>
            <span class="label label-info pull-left">{{ task.createdBy.name }}</span>
            <span class="iou-task-title">{{ task.title }}</span>
          </div>
        </accordion-heading>
        <span ng-show="task.permissions.isAwaitingApproval === true" class="label label-info pull-right">Awaiting approval</span>
        <h4 ng-show="task.description.length > 0"><strong>Description</strong></h4>
        <p>{{ task.description }}</p>
        <h4><strong>Rewards</strong></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="prize in task.prizes">
            {{ prize.reward }}
          </li>
        </ul>
        <button type="button" class="btn btn-primary" ng-click="completeTask(task)" ng-show="task.permissions.canComplete === true">I am done!</button>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="row">
  
  <!-- Assets -->
  <div class="col-md-6">
		<h2>Rewards Earned</h2>
    <div ng-show="assetTasks.length === 0" class="alert alert-info">Complete tasks to earn rewards</div>
    <accordion close-others="false" ng-show="assetTasks.length > 0">
      <accordion-group ng-repeat="task in assetTasks" id="{{task.id}}">
        <accordion-heading>
          <div>
            <span class="pull-right"><small>from</small>
              <span class="label label-info">{{ task.createdBy.name }}</span>
            </span>
            <span class="icon-coin icon-coin-asset pull-left"></span>
            <span class="iou-task-title"> {{ task.prizes[task.createdBy.id].reward }} </span>
          </div>
        </accordion-heading>
        <h4><strong>Title</strong></h4>
        <p>{{ task.title }}</p>
        <h4 ng-show="task.description.length > 0"><strong>Description</strong></h4>
        <p>{{ task.description }}</p>
        <h4><strong>Rewards</strong></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="prize in task.prizes">
            <span>{{ prize.reward }}</span>
            <button ng-click="confirmReward(task)" ng-show="task.permissions.canConfirmReward" class="btn btn-xs btn-primary pull-right">Received</button>
          </li>
        </ul>
      </accordion-group>
    </accordion>
	</div>

  <!-- Debts -->
  <div class="col-md-6">
    <h2>Rewards Owed</h2>
    <div ng-show="debtTasks.length === 0" class="alert alert-info">Tasks finished by others will appear here</div>
    <accordion close-others="false" ng-show="debtTasks.length > 0">
      <accordion-group ng-repeat="task in debtTasks" id="{{task.id}}">
        <accordion-heading>
          <div>
            <span class="pull-right"><small>to</small>
              <span class="label label-info">{{ task.claimedBy.name }}</span>
            </span>
            <span class="icon-coin icon-coin-debt pull-left"></span>
            <span class="iou-task-title">{{ task.permissions.myPrize.reward }}</span>
          </div>
        </accordion-heading>
        <h4><strong>Title</strong></h4>
        <p>{{ task.title }}</p>
        <h4 ng-show="task.description.length > 0"><strong>Description</strong></h4>
        <p>{{ task.description }}</p>
        <h4><strong>Rewards</strong></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="prize in task.prizes">
            <span>{{ prize.reward }}</span>
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
</div>
<div class="row">
  <!-- My open tasks -->  
  <div class="col-md-12">
    <h2>Tasks To Friends<button class="btn btn-primary pull-right" ng-click="open()">Create a task</button></h2>
    <div ng-show="myOpenTasks.length === 0" class="alert alert-info">Create tasks for others to do</div>
    <accordion close-others="false">
      <accordion-group ng-repeat="task in myOpenTasks" id="{{task.id}}">
        <accordion-heading>
          <div>
            <span class="icon-users pull-left"></span>
            <span class="iou-task-title">{{ task.title }}</span>
             <span ng-show="task.permissions.isInProgress"class="pull-right "><small>In Progess by </small><span class="label label-success">{{ task.claimedBy.name }}</span></span>
          </div>
        </accordion-heading>
        <h4 ng-show="task.description.length > 0"><strong>Description</strong></h4>
        <p>{{ task.description }}</p>
        <h4><strong>Rewards</strong></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="prize in task.prizes">
            {{ prize.reward }}
          </li>
        </ul>
        <button type="button" class="btn btn-primary" ng-click="editTask(task)" ng-show="task.permissions.canEdit === true">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="deleteTask(task)" ng-show="task.permissions.canDelete === true">Delete</button>
      </accordion-group>
    </accordion>
  </div>
</div>