<div class="row">

  <!-- Assets -->
	<div class="col-md-6">
		<h2>Assets</h2>
    <ng-include src="'/partials/tasktemplate.html'"></ng-include>
	</div>

  <!-- Debts -->
  <div class="col-md-6">
  	<h2>Debts</h2>
    <ng-include src="'/partials/tasktemplate.html'"></ng-include>
  </div>
</div>

<!-- In Progress -->
<div class="row">
  <div class="col-md-12">
    <h2>TODO</h2>
    <ng-include src="'/partials/tasktemplate.html'"></ng-include>
  </div>
</div>

<!-- Your tasks -->
<div class="row">
  <div class="col-md-12">
    <h2>Your tasks</h2>
    <ng-include src="'/partials/tasktemplate.html'"></ng-include>
  </div>
</div>