<!-- Explore -->
<div class="row">  
  <div class="col-md-12">

    <!-- Available Tasks -->
    <h2>Available tasks</h2>
    <div ng-show="tasks.length === 0" class="alert alert-info">No tasks currently available, check back later!</div>
    <accordion close-others="false" ng-show="tasks.length > 0">
		<accordion-group ng-repeat="task in tasks">
			<accordion-heading>
			  <span class="label label-info pull-left">{{ task.createdBy.name }}</span>
			  <span class="iou-task-title">{{ task.title }}</span>
			</accordion-heading>
    		{{ task.description }}
			<h4>Prizes</h4>
			<ul class="list-group">
			  <li class="list-group-item" ng-repeat="prize in task.prizes">
			  	{{ prize.reward }}
			  </li>
			</ul>
			<button type="button" class="btn btn-primary" ng-click="claim(task)" ng-show="task.permissions.canClaim === true">Claim</button>
    	</accordion-group>
	</accordion>
  </div>
</div>