<!-- Login -->
<div ng-show="!mode">
  <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
      <h1 class="text-center">Login</h1>
  </div>
  <div class="modal-body">
      <form name="loginForm" class="form col-md-12 center-block" ng-submit="login(loginData)">
        <div class="form-group">
          <input type="email" name="email" class="form-control input-lg" placeholder="Email" ng-model="loginData.email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" placeholder="Password" ng-model="loginData.password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <div class="col-md-12">
      <button class="btn btn-warning" ng-click="cancel()" aria-hidden="true">Cancel</button>
    </div>  
  </div>
</div>

<!-- Register -->
<div ng-show="mode">
  <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
      <h1 class="text-center">Register</h1>
  </div>
  <div class="modal-body">
    <div ng-show="badtoken === true" class="alert alert-danger">This invitation has either been used already or is invalid</div>
    <form name="registerForm" ng-submit="register(registerData)">
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="registerData.displayname" placeholder="Name" required ng-disabled="badtoken === true">
        </div>
        <div class="form-group">
            <input name="email" type="email" class="form-control input-lg" ng-model="registerData.email" placeholder="Email address" required ng-disabled="badtoken === true">
            <span class="error" ng-show="registerForm.email.$error.email">Please enter a valid email.</span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control input-lg" ng-model="registerData.password" placeholder="Password" required ng-disabled="badtoken === true">
            <span class="error" ng-show="registerData.password.length < 4">Password should be at least 4 characters long.</span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" ng-model="registerData.passwordverify" placeholder="Verify Password" required ng-disabled="badtoken === true">
          <span class="error" ng-show="registerData.passwordverify.length > 0 && registerData.password != registerData.passwordverify">Passwords do not match.</span>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="badtoken === true">Register</button>
    </form>
  </div>
  <div class="modal-footer">
      <div class="col-md-12">
      <button class="btn btn-warning" ng-click="cancel()" aria-hidden="true">Cancel</button>
    </div>  
  </div>
</div>